.image img{
    width: 100% ;
}

.text{
    display: flex;
    margin: 8rem;
    
    h1{
        margin-right: 18rem;
        font-size: 40px;
    }
    p{
        padding-top: 13rem;
        font-size: 20px;
        text-align: right;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}


.content2 h2{
    margin: 2rem;
    margin-left: 8rem;
    margin-right: 7rem;
    padding-top: 4rem;

}
.content2 h5{  
    text-align: left;  
    font-size: 18px;
    font-weight: 300;
    padding-top: 5rem; 
    margin-right: 4rem;  
    
}
.content2{
    display: flex;
    padding-bottom: 60px;
}

 h2{
    padding-top: 5rem;
    margin: 2rem;
    margin-left: 8rem;
    font-size: 44px;
    font-weight: bold;
    
}

h3{
    margin: 2rem;
    margin-left: 8rem; 
    font-size: 36px;
    font-weight: 500;
}

hr{
    width: 70%; 
    height: 1px; 
    background-color: #000000; 
    border: none;
    margin: 60px auto; 
    padding: 0; 
}

.description {
    display: flex;
    margin: 3rem;
    gap: 10rem;
    font-size: 20px;
}

.description .p {
    margin-left: 14rem;
    flex-grow: 1; 
}

.description .bold {
    font-weight: bold;
    font-size: 28px;
    flex-grow: 0;
}