*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  @font-face {
    font-family: "Poppins";
    src: url();
  }
  
  .background-2 {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    /*background-color: #4285F4;*/
    background-image: url("https://www.fourpointssurabaya.co.id/resourcefiles/gallery-image-sec_rightbot_left/subfp-galeri-3.jpg?version=1162024073317");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(12px);
  }

   /*.conten {
    
    color: #fff;
    margin-top: 200px;
    text-align: center;
  } */
  
  .container-1 {
    justify-items: center;
    align-items: center;
  }
  
  .box {
    margin-top: px;
    width: 1280px; 
    height: 650px; 
    align-content: center;
    background-color: white;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: auto;
    border-radius: 30px;
    margin-left: 300px;
  }
  
  .header-1 {
    padding-left: 24px;
    width: 82%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .item {  
    padding: 20px;
    margin-top: 12px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 52px;
    text-align: center;
    font-size: 12px;
  }
  
  .h1 {
    text-align: center;
  }

  .label {
    text-align: center;
    margin-bottom: 5px; 
  }
  
  .form-login {
    border-radius: 15px;
    width: 770px;
    padding: 16px 12px;
    margin: 16px 0;
    box-sizing: border-box;
  }
  
  .submit-btn {
    margin-top: 10px; 
  }
  
  .logo1 {
    padding-left: 10px;
    width: 80px;
  }
  .logo2 {
    width: 300px;
    height: auto;
    padding: 48px;
    display: block;
    position: relative;
    flex: 2;
  }
  
  .text-login {
    font-size: 22px;
    display: block;
    position: relative;
    flex: 1;
    margin: 10px;
  }
  
  .submit-btn{
    display: inline-block;
    background: #4285F4;
    color: #fff;
    width: 150px;
    height: 44px;
    border-radius: 15px;
    border: thin solid #888;
    font-size: 16px;
    font-weight: normal;
    font-family: 'poppins', sans-serif;
  }
  
  .button {
    display: grid;
    place-items: center;
  }
  

  .tittle {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
  }
  
  